<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Pay</div>

                    <div class="card-body">
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input v-model="amount" type="number" class="form-control" name="amount" id="amount"/>
                        </div>
                        <div v-html="liqPayForm"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        props: [
            'user'
        ],
        data() {
            return {
                amount: 0,
                liqPayForm: ''
            }
        },
        watch: {
            amount: function (val, oldVal) {
                if(val > 0) {
                    this.getLiqPayForm(val);
                } else {
                    this.liqPayForm = '';
                }
            }
        },
        mounted() {
        },
        methods: {
            getLiqPayForm(amount) {
                axios.post('/payment-form', {amount})
                    .then((response) => {
                        this.liqPayForm = response.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        }
    }
</script>
